<div class="profile-index row">
	<div class="col-md-2">
	</div>
	<div class="col-md-10 row">
		<% @profiles.each do |profile| %>
			<div class="col-md-2 index-avatar">
				<% if profile.avatar? %>
		      <%= image_tag(profile.avatar.profile.url) %>
		    <% else %>
		      <%= image_tag('avatar.png') %>
		    <% end %>
			</div>
			<div class="col-md-10">
				<h6><%= profile.name %></h6>
			</div>
		<% end %>
	</div>
</div>
